# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control?
#
# Pods/


pomodoro.xcodeproj/xcuserdata/hongxing.xcuserdatad/xcschemes/xcschememanagement.plist

pomodoro.xcodeproj/xcuserdata/hongxing.xcuserdatad/xcschemes/pomodoro.xcscheme

pomodoro.xcodeproj/project.xcworkspace/xcuserdata/hongxing.xcuserdatad/UserInterfaceState.xcuserstate
